/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('bgwbs/loop\ video.gif');
    background-size: cover;
    background-position: center;
}

header {
    text-align: left;
    padding: 20px;
}

.judul-website {
    font-size: 24px;
    color: white;
}

nav {
    text-align: right;
    padding: 20px;
}

.menu {
    list-style: none;
    
}

.apalah {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 5px;
    background-color: #002b3e;
    border-radius: 10px;
}
.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

.menu li a:hover {
    color: orange;
}

main {
    text-align: center;
    padding: 100px 0;
}

.penjelasan {
    background-color: #638553;
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.penjelasan h2 {
    margin-bottom: 10px;
}

.lanjutkan-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #EDF1D6;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}

.lanjutkan-link:hover {
    background-color: #EDF1D6
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.search input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: #0056b3;
}

